<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../assets/css/index.css">
    <title>Foxplayer</title>
</head>

<body>
    <main>
        <article>
            <div class="logo"></div>
            <div class="allPlaylists">
                <div id="playlists">
                    <p>Playlists</p>
                    <button class="addNewList"></button>
                </div>
                <div id="allTracks">
                    <p>All tracks</p>
                </div>
                <div id="favorites">
                    <p>Favorites</p>
                </div>
            </div>
        </article>
        <aside>
            <div class="currently">
            </div>
            <div class="tracks"></div>
        </aside>
        <audio id="music" style="width: 100%">
          <source>
        </audio>
        <div id="audio_player">
            <button id="btnLoad" class="load" title="load" onclick="load()">load album</button>
            <button id="btnPrev" class="prev" title="previous" onclick="previous()">previous</button>
            <button id="btnPlayPause" class="play" title="play" onclick="playPause()">play</button>
            <button id="btnNext" class="next" title="next" onclick="next()">next</button>
            <progress id="progressBar" min="0" max="100" value="0"></progress>
            <button id="btnMute" class="mute" title="mute" onclick="muteVolume();">mute</button>
            <input type="range" id="volumeBar" title="volume" min="0" max="10" step="1" value="10">
        </div>
    </main>
    <script src="../assets/js/index.js"></script>
</body>

</html>